<html>
  <head>
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css">
  </head>
  <body>
    <form method="POST" action="/pirates">
      <p><input type="submit" value= "Submit"></p>
    </form>
  </body>
</html>